{% extends "base.html" %}

{% block body_class %}{{ self.title.lower }}{% endblock %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-4">Trustees</h1>
            </div>
        </div>
    </div>
    {% for member in names %}
        {% if member.first_name == name.capitalize %}
            {% image member.image fill-241x255-c100 as image %}
            <article class="pt-4 mb-4 concrete board-member">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <figure>
                                <img class="img-fluid img-thumbnail rounded" src="{{ image.url }}" alt="{{ image.alt }}"/>
                            </figure>
                        </div>
                        <div class="col-md-8">
                            <h2 class="display-3">{{ member.prefix }}. {{ member.first_name }} {{ member.last_name }}</h2>
                            <h3>{{ member.title }}</h3>
                        </div>
                    </div>
                </div>
            </article>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>{{ member.description }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}