{% load navigation_tags static wagtailuserbar %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title == 'Home' %}SchoolMe{% elif self.seo_title %}{{ self.seo_title }} | SchoolMe{% else %}{{ self.title }} | SchoolMe{% endif %}{% endblock %}</title>

        {% if self.search_description %}
            <meta name="description" content="{{ self.search_description }}" />
        {% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Rancho" rel="stylesheet">
        {% if self.seo_title == 'Home' %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/starfish.min.css' %}">
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/schoolme.min.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

        <script src="https://kit.fontawesome.com/e046e8e33c.js" crossorigin="anonymous"></script>
        
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
        {% wagtailuserbar %}

        <header role="banner">
            {% block header %}
                {# Header contains the main_navigation block #}
                {% include "includes/header.html" with parent=site_root calling_page=self %}
            {% endblock header %}
        </header>

        <main role="main">
            {% block content %}
            {% endblock content %}
        </main>

        <!-- Footer -->
        <footer class="py-2 mt-4" role="contentinfo">
            {% include "includes/footer.html" %}
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/umairabbasi.min.js' %}" async></script>

        {% block extra_js %}{% endblock %}
    </body>
</html>