$primary: rgba(11, 106, 179, 1);
$secondary: rgba(126, 179, 79, 1);

/* Starfish Story Animation */
.block-starfish {
    height: 820px;
    border-top: 3px solid $secondary;
    border-bottom: 1px solid $secondary;
}
.starfish-story {
    width: 61%;
    padding: 18px;
    color: #eee;
    font-family: 'Rancho', cursive;
    p {
        font-size: 1.35rem;
        word-spacing: 0.12em;
    }
} 
.sky {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background-color: #1B3040;
}

$color-bg: #cbbeb5;
$color-moon: #fff1f9;
$color-sea: #286d8a;
$color-sky: #1b3040;

@mixin star($top: random(400)+px, $left: random(700)+px, $size: random(3)+1px, $brightness: 1/random(5) + 0.2) {
  position: absolute;
  top: $top;
  left: $left;
  width: $size;
  height: $size;
  opacity: $brightness;
  background-color: $color-moon;
  border-radius: 100%;
  box-shadow: $color-bg 0 0 6px, rgba(white, 0.2) 0 0 6px 2px;
}

@mixin sparkle($bottom: random(200)+px, $left: random(600)+px, $size: 1px) {
  position: absolute;
  bottom: $bottom;
  left: $left;
  width: $size;
  height: $size;
  opacity: 0.7;
  background-color: $color-moon;
  border-radius: 100%;
  box-shadow: $color-bg 0 0 2px, rgba(white, 0.2) 0 0 6px 2px;
}

@mixin wave($percent: 2%) {
  width: 200%;
  height: 50%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 45%, $color-sea 80%),
    radial-gradient(circle at center -30px, 
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0) 70px,
      lighten($color-sea, $percent) 0
    );
  background-repeat: repeat-x;
  background-size: 60px 120px;
}

.star {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      @include star();
    }
  }
}

.moon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;
  margin: auto;
  width: 30%;
  height: 0;
  padding-bottom: 30%;
  background-color: $color-moon;
  border-radius: 100%;
  box-shadow: inset $color-moon -4px 4px 12px 4px,
    inset rgba(black, 0.2) -12px 12px 60px 4px, $color-sky 0 0 24px 1px,
    $color-moon 0 0 80px 4px;
  &:before,
  &:after {
    content: "";
    opacity: 0.6;
    position: absolute;
    background-color: $color-moon;
    border-radius: 100%;
    box-shadow: inset rgba(black, 0.06) 2px 4px 4px 2px;
  }
  &:before {
    top: 14%;
    right: 26%;
    width: 5%;
    height: 10%;
    transform: rotate(-45deg);
  }
  &:after {
    top: 20%;
    right: 30%;
    width: 15%;
    height: 20%;
    transform: rotate(-35deg);
  }
}

.sea {
  opacity: 0.9;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wave {
  position: absolute;
  @include wave;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 4%;
    left: -7%;
    animation: wavy 1.8s ease-in-out alternate infinite;
    @include wave(8%);
  }
  &:first-child {
    .sparkle {
      display: none;
    }
  }
  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      top: 50% + $i * 8;
      left: -5% + $i * -10;
      @include wave($i * 1%);
      animation: wavy $i * 1.4s ease-in-out alternate infinite;
    }
  }
}

.container__moon {
  position: absolute;
  top: 50%;
  left: 72%;
  width: 55%;
  height: 100%;
  max-width: 800px;
  margin: auto;
  transform: translate(-50%, -50%);
}
.container__stars {
    max-width: 1000px;
  }
.container__sparkles {
    top: 0;
    width: 800px;
  }

.sparkle {
  @for $i from 1 through 50 {
    &:nth-child(#{$i}) {
      @include sparkle();
      animation: sparkling 0.2s linear infinite;
      animation-duration: $i * 0.1s + 0.5s;
    }
  }
}

@keyframes wavy {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(12px, 12px, 0);
  }
}

@keyframes sparkling {
  0% {
  }
  100% {
    opacity: 0;
  }
}


/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
/* ==========================================================================
    STARFISH STORY
   ========================================================================== */
   .block-starfish {
        height: 840px;
    }
    .starfish-story {
        p {
            font-size: 1.2rem;
        }
    }
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
/* ==========================================================================
    STARFISH STORY
   ========================================================================== */
   .block-starfish {
        height: 560px;
    }
    .starfish-story {
        width: 100%;
        p {
            font-size: 1.3rem;
        }
    }
}


/* Landscape phones and down */
@media (max-width: 480px) {
/* ==========================================================================
    STARFISH STORY
   ========================================================================== */
   .block-starfish {
        height: 840px;
    }
}