{% load schoolme_tags static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Rancho" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/schoolme.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header role="banner">
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        
        <main role="mb-2 main">
            {% block content %}{% endblock %}
        </main>

        <footer class="py-2" role="contentinfo">
            <div class="container-fluid py-2">
                <div class="row footer-text">
                    <div class="text-center col-md-4">
                        <p><span class="copyright">&copy;</span> Copyright {% now "Y" %} SchoolMe</p>
                        <p>A <a style="color: #a43f33;" target="_blank" href="https://fourfridays.com">fourfridays [BETA]</a> website.</p>
                    </div>
                    <div class="text-center col-md-3">
                        <p class="social-media">
                            <a target="_blank" href="https://www.facebook.com/SchoolMe-158676997531911/timeline/"><i class="mr-4 fa fa-2x fa-facebook" aria-hidden="true"></i></a>
                            <a target="_blank" href="http://www.twitter.com/"><i class="mr-4 fa fa-2x fa-twitter" aria-hidden="true"></i></a>
                            <a target="_blank" href="http://www.instagram.com/"><i class="mr-4 fa fa-2x fa-instagram" aria-hidden="true"></i></a>
                        </p>
                    </div>
                    <div class="text-center col-md-5 contact-info">
                        <p><i class="material-icons md-18">smartphone</i> London <a href="tel:+4407557104673">+(44) (0) 75 57104673</a> | Tunis <a href="tel:+21698938849">+(216) (98) 938849</a>
                        <p><i class="material-icons md-18">email</i><a href="mailto:info@schoolme.org.uk"> info@schoolme.org.uk</a> <i class="material-icons">location_on</i>139 Leathwaite Road, London</p>
                    </div>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/schoolme.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
