{% load wagtailcore_tags wagtailimages_tags %}


<article>
    <div class="container">
        <div class="mb-2 row justify-content-center">
            {% for images in self %}
                <div>
                    {% image images.image fill-200x200 class="img-fluid rounded m-2" %}
                    <!--{% image images.image height-200 as theimage %}
                    <img class="img-fluid rounded m-2 d-block" src="{{ theimage.url }}" height="{{ theimage.height }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" />-->
                </div>
            {% endfor %}
        </div>
    </div>
</article>