{% load wagtailcore_tags wagtailimages_tags %}


<article>
    <div class="container">
        <div class="mb-2 row justify-content-center">
            {% for images in self %}
                <div class="">
                    {% image images.image width-200 as theimage %}
                    {% image images.image width-440 as lightboximage %}
                    <a href="{{ lightboximage.url }}" data-lightbox="{{ theimage.alt }}" data-title="{{ theimage.alt }}"><img class="img-fluid rounded m-2 d-block" src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}" /></a>
    <p class="py-0 small">Touch/Click to Enlarge</p>
                </div>
            {% endfor %}
        </div>
    </div>
</article>